<template>
	<div class="mb-60 relative">
		<div class="w-full h-20 absolute -top-20">
			<svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
				<path d="M0,100 C150,80 350,150 500,00 L500,200 L0,200 L0, 100 Z" style="stroke: none; fill:white;"></path>
			</svg>
		</div>
		<div class="flex w-full relative mt-20">
			<button
				class="btn-1 w-1/3"
				@click="handleClickA"
				v-bind:class="[section === 1 ? activeClass : inActiveClass]"
			>
				Arbeitnehmer
			</button>
			<button
				class="btn-2 w-1/3"
				@click="handleClickB"
				v-bind:class="[section === 2 ? activeClass : inActiveClass]"
			>
				Arbeitgeber
			</button>
			<button
				class="btn-3 w-1/3"
				@click="handleClickC"
				v-bind:class="[section === 3 ? activeClass : inActiveClass]"
			>
				Temporarburo
			</button>
		</div>
		
		<SectionA v-if="section === 1" />
		<SectionB v-if="section === 2" />
		<SectionC v-if="section === 3" />
	</div>
</template>

<style>
	@import '../assets/styles/style.css';
</style>
<script>
	export default {
		data: function () {
			return {
				section: 1,
				activeClass: 'active',
				inActiveClass: 'in-active',
			}
		},

		methods: {
			handleClickA() {
				this.section = 1;
			},

			handleClickB() {
				this.section = 2;
			},

			handleClickC() {
				this.section = 3;
			},
		}
	}
</script>
