<template>
	<div class="flex flex-col">
		<div
			id="main"
			class="w-full h-full bg-no-repeat bg-bottom top-0 bg-auto custom-background"
		>
				<!-- <MainSvg /> -->
			<div class="text-center mt-32 text-5xl">
				Deine Job
			</div>
			<div class="text-center text-5xl">
				website
			</div>
		</div>
		<MainSection />
	</div>
</template>

<style>
</style>

<script>
	export default {}
</script>