<template>
    <div
        class="flex flex-end justify-center custom-box-shadow rounded-t-xl h-16 items-center fixed bottom-0 w-full z-10 bg-white"
    >
        <button class="text-left text-green-600 p-3 register-button text-center color-white text-sm">
            Kostenlos Registrieren
        </button>
    </div>
</template>

<style>
</style>

<script>
export default {}
</script>
