<template>
    <div
        class="flex flex-end justify-end shadow-md rounded-b-xl h-16 items-center border-t-4 border-blue-600 fixed top-0 w-full z-10 bg-white"
    >
        <a href class="text-left text-green-600 p-3">Login</a>
    </div>
</template>

<script>
export default {}
</script>
