<template>
  <div>
		<div class="relative flex flex-col justify-start bg-no-repeat bg-bottom bg-auto section-1">
			<p class="text-center text-2xl relative pt-10	">
				Drei einfache Schritte
			</p>
			<p class="text-center text-2xl">
				zu deinem neuen Mitarbeiter
			</p>
			<div class="absolute -bottom-20 w-full">
				<div class="flex justify-center items-center rounded-full bg-gray-100 section-text-custom text-9xl w-52 h-52 opacity-40 text-center absolute -left-10 -bottom-10">
					<p class="opacity-100"> 1.</p>
				</div>
				<p class="text-left float-right w-36 text-md text-custom mr-8">
					Erstellen dein Unternehmensprofil
				</p>
			</div>
		</div>

		<div class="section-2 w-full flex flex-col items-center">
			<div class="w-full h-20">
				<svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
					<path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
				</svg>
			</div>
			<div class="w-full flex items-baseline pl-6 pt-8">
				<div class="flex justify-center items-center section-text-custom text-9xl w-32 h-32 opacity-40 text-center">
					2.
				</div>
				<p class="text-left text-md text-custom">
					Erstellen ein Jobinserat
				</p>
			</div>
			<div class="img-2-2 bg-no-repeat ml-16 mt-4"></div>
		</div>

		<div class="section-3 relative w-full">
			<div class="w-full h-20 absolute -top-20">
				<svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
					<path d="M0,100 C150,80 350,150 500,00 L500,200 L0,200 L0, 100 Z" style="stroke: none; fill:white;"></path>
				</svg>
			</div>
			<div class="w-full relative">
				<div class="flex justify-center items-start rounded-full bg-gray-100 section-text-custom text-9xl w-96 h-96 opacity-40 text-center absolute -left-20 -top-10">
					<p class="opacity-100"> 3.</p>
				</div>
				<p class="text-left text-md text-custom absolute left-40 w-36">
					Wahle deinen neuen Mitarbeiteer aus
				</p>
			</div>
			<div class="img-2-3 bg-no-repeat bg-center absolute bottom-0 w-full"></div>
		</div>
	</div>
</template>

<style>
</style>

<script>
  export default {}
</script>
