.btn-1 {
    height: 40px;
    opacity: 1;
    border-radius: 12px 0px 0px 12px;
    opacity: 1;
}
.btn-2 {
    height: 40px;
    text-align: center;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    opacity: 1;
}
.btn-3 {
    height: 40px;
    text-align: center;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    border-radius: 0px 12px 12px 0px;
    opacity: 1;
}
button.in-active {
    border: 1px solid #CBD5E0 !important;
    color: #319795;
}
button.active {
    color: white;
    border: none;
    background: #81E6D9 0% 0% no-repeat padding-box;
}
.section-1 {
    height: 300px;
    background-image: url(../images/img1.svg);
}
.section-2 {
    height: 450px;
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.section-3 {
    height: 400px;
}
.text-custom {
    color: #718096;
}
.section-text-custom {
    color:#0e264a;
}
.img-1-2 {
    background-image: url(../images/img1-2.svg);
    width: 200px;
    height: 200px;
}
.img-1-3 {
    background-image: url(../images/img1-3.svg);
    height: 300px;
}
.text-custom {
    color: #718096;
}
.section-text-custom {
    color:#0e264a;
}
.img-2-2 {
    background-image: url(../images/img2-2.svg);
    width: 200px;
    height: 200px;
}
.img-2-3 {
    background-image: url(../images/img2-3.svg);
    height: 300px;
}
.img-3-2 {
    background-image: url(../images/img3-2.svg);
    width: 200px;
    height: 200px;
}
.img-3-3 {
    background-image: url(../images/img3-3.svg);
    height: 300px;
}
.custom-background {
    height: 90vh;
    background-image:url(../images/background1.svg);
    background-color:#e8fafc;
    /* background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box; */
}
.custom-box-shadow {
    box-shadow: 0px -1px 3px #00000033;
}

.register-button {
    color: white;
    top: 580px;
    left: 20px;
    width: 320px;
    height: 40px;
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}
